
@{
    ViewData["Title"] = "عدم دسترسی";
}
    <link href="~/css/403.css" rel="stylesheet" />
    <div class="base io">
        <h1 class="io">403</h1>
        <h4>شما به این صفحه دسترسی ندارید</h4>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-2">بازگشت</a>
    </div>