
<link href="~/css/404.css" rel="stylesheet" />
@{ 
    ViewData["Title"] = "404";
}
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="col-md-12 text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center" style="font-family:Ebrima">404</h1>
                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            صفحه پیدا نشد
                        </h3>

                        <p>ممکنه آدرس صفحه عوض شده باشه!!</p>

                        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">بازگشت</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>