@using coReport.Models.AdminViewModels
@using coReport.Models.AccountViewModels
@model UserManagementViewModel
@{
    ViewData["Title"] = "مدیریت کاربران";
    var UserId = 0;
}


<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<a asp-action="AddUser" class="btn btn-primary">اضافه کردن کاربر جدید</a>
<hr />
@if (!Model.Users.Any())
{
    <div class="text-lg-center">هیچ کاربری پیدا نشد.</div>
}
else
{
    @foreach (var userViewModel in Model.Users)
    {
        <partial name="UserPartialView" model="userViewModel" />
    }
}

<div id="selectManager" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h6>انتخاب مدیران</h6>
            </div>
            <form asp-action="ActivateUser" method="post" role="form">
                @* A dummy element for saving user id from partial*@
                @Html.Hidden("UserId", UserId)
                <div class="form-group" style="margin-top: 10px">
                    <label class="col-md control-label"> مدیران را انتخاب کنید:</label>
                    <div class="col-md">
                        <select id="manager_multiselect" asp-for="ManagerIds" style="width: 100%" multiple="multiple">
                            @foreach (var user in Model.Users.Where(r => r.Role == "مدیر"))
                            {
                                <option value="@user.Id">@user.FirstName @user.LastName</option>
                            }
                        </select>
                        <br />
                        <span asp-validation-for="ManagerIds" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">فعالسازی</button>
                </div>
            </form>
        </div>

    </div>
</div>

@section scripts
{
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#manager_multiselect').select2({
                dir: 'rtl',
                language: 'fa'
            });
        });


        function DeleteUser(id) {
            bootbox.confirm({
                message: "آیا می‌خواهید این کاربر را حذف کنید؟",
                buttons: {
                    confirm: {
                        label: 'بله',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'خیر',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result)
                        $.ajax({
                            url: "DeleteUser",
                            data: { userId: id }
                        }).done(function () {
                            location.reload();
                        });
                }
            });
        }

        function ActivateUser(id) {
            $.ajax({
                url: "ActivateUser",
                data: { userId: id }
            }).done(function () {
                location.reload();
            });
        }

        function setUserId(id) {
            $('#UserId').val(id);
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
