@using coReport.Models.ProjectViewModels
@model ProjectViewModel
@{
    var isEnded = Model.EndDate != null;
 }
<div class="border border-dark p-3 rounded card-widget ended-@isEnded">
    <div class="col">
        <span> <b>@Model.Title</b></span>
        <span class="span-control"><i class="fas fa-calendar-alt"></i> @Model.CreateDate</span>
        @if (Model.EndDate != null)
        {
            <span class="span-control"><i class="fas fa-calendar-times"></i> @Model.EndDate</span>
        }
        else
        {
            <span class="span-control"><i class="fas fa-tasks"></i> در حال انجام</span>
            <button onclick="EndProject(@Model.Id)" 
                    class="btn btn-success float-left span-control" style="margin-top:-6px">پایان پروژه</button>
        }

    </div>
</div>