@using coReport.Models.ReportViewModel
@model ManagerReportViewModel

<div class="border border-dark p-3 rounded user-card">
    <div class="col">
        <span><i class="fas fa-calendar-alt"></i> @Model.Date.Date.ToString("MM/dd/yyyy")</span>
        <a asp-controller="Report" asp-action="ViewManagerReport" asp-route-id="@Model.Id" class="btn btn-primary float-left span-control" style="margin-top:-6px">جزئیات</a>
        <button class="float-left btn btn-danger span-control" style="margin-top:-6px" onclick="DeleteReport(@Model.Id)">
            <span class="fas fa-trash-alt"></span> حذف
        </button>
    </div>
</div>