@using coReport.Models.ReportViewModel
@model ReportsManagementViewModel

@{
    ViewData["Title"] = "گزارشات";
}

<link href="~/lib/date-picker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
<div class="row">
    <button class="btn btn-info mr-4" data-toggle="modal" data-target="#daily_report">گزارش روزانه</button>
    <button class="btn btn-info mr-1" data-toggle="modal" data-target="#cumulative_report">گزارش تجمیعی</button>
    <input type="text" id="search_field" placeholder="جستجو" class="float-left mr-1 searchbox" />

</div>
<hr />
<div class="row">
    <div class="col-md p-3 box-widget-scrollable" style="height:550px; max-height:550px">

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#allReports">همه گزارشات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#unseenReports">گزارشات بررسی ‌نشده</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="allReports" class="tab-pane fade">
                @if (!Model.UserReports.Any())
                {
                    <div class="text-lg-center"><b>هیچ گزارشی یافت نشد.</b></div>
                }
                else
                {
                    @foreach (ReportViewModel report in Model.UserReports)
                    {
                        <partial name="UserReportPartialView" model="report" />
                    }
                }
            </div>
            <div id="unseenReports" class="tab-pane fade show active">
                @if (!Model.UserReports.Any(ur => ur.IsViewed == false))
                {
                    <div class="text-lg-center"><b>هیچ گزارشی یافت نشد.</b></div>
                }
                else
                {
                    @foreach (ReportViewModel report in Model.UserReports.Where(ur => ur.IsViewed == false))
                    {
                        <partial name="UserReportPartialView" model="report" />
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md p-3 box-widget-scrollable" style="height:550px; max-height:550px">
        <h6><b>پیام ها</b></h6>
        <hr />
        @if (!Model.Messages.Any())
        {
            <div class="text-lg-center"><b>پیامی موجود نیست.</b></div>
        }
        else
        {

            @foreach (var message in Model.Messages)
            {
                <partial name="_MessagePartialView" model="message" />
            }
        }
    </div>
</div>


<div id="daily_report" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6>دریافت گزارش روزانه</h6>
            </div>
            <form asp-action="GetDailyReport" id="date_form" method="post" role="form">
                <div class="form-group mt-1" id="date_field">
                    <label class="col-md-4 control-label">تاریخ</label>
                    <div class="col-md-10">
                        <input type="text" hidden id="date" name="date" class="form-control" />
                        <input type="text" name="date_persian" id="date_text" autocomplete="off" class="form-control"
                               data-val="true" data-val-required="فیلد تاریخ اجباری است." />
                        <span class="text-danger field-validation-valid" data-valmsg-for="date_persian" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="cumulative_report" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>دریافت گزارش تجمیعی</h6>
                </div>
                <form asp-action="GetCumulativeReport" onsubmit="showLoading()" id="cumulative_form" method="post" role="form">
                    <input id="downloadToken" name="token" hidden />
                    <div class="row mt-1">
                        <div class="col-md form-group" id="from_date_field">
                            <label class="col-md control-label">از تاریخ</label>
                            <div class="col-md">
                                <input type="text" hidden id="fromDate" name="fromDate" class="form-control" />
                                <input type="text" name="fromDate_text" id="fromDate_text" autocomplete="off"
                                       data-val="true" data-val-required="این فیلد اجباری است." class="form-control" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="fromDate_text" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md form-group" id="to_date_field">
                            <label class="col-md control-label">تا تاریخ</label>
                            <div class="col-md">
                                <input type="text" hidden id="toDate" name="toDate" class="form-control" />
                                <input type="text" name="toDate_text" id="toDate_text" autocomplete="off"
                                       data-val="true" data-val-required="این فیلد اجباری است." class="form-control" />
                                <span class="text-danger field-validation-valid" data-valmsg-for="toDate_text" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="modal fade" id="report_loading" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loader"></div>
                <div clas="loader-txt">
                    <p>گزارش در حال آماده سازی است...</p>
                    <p class="small">به توجه به اطلاعات درخواستی ممکن است یک یا چند دقیقه طول بکشد.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast" id="download_start" aria-live="assertive" aria-atomic="true" data-delay="5000"
     style="position: absolute; bottom: 1rem; left: 1rem;">
    <div class="toast-body">
        دانلود گزارش به زودی آغاز میشود...
    </div>
</div>

@section scripts
{
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/date-picker/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>

        $(document).ready(function () {

            $('#date_field').MdPersianDateTimePicker({
                targetTextSelector: '#date_text',
                targetDateSelector: '#date',
                disableAfterToday: true
            });
            $('#from_date_field').MdPersianDateTimePicker({
                targetTextSelector: '#fromDate_text',
                targetDateSelector: '#fromDate',
                groupId: 'rangeSelect',
                disableAfterToday: true,
                fromDate: true
            });
            $('#to_date_field').MdPersianDateTimePicker({
                targetTextSelector: '#toDate_text',
                targetDateSelector: '#toDate',
                groupId: 'rangeSelect',
                disableAfterToday: true,
                toDate: true
            });
            //Perform dynamic search on reports
            function Contains(fisrtText, secondText) {
                if (fisrtText.indexOf(secondText) != -1)
                    return true;
            }
            $("#search_field").keyup(function () {
                var searchText = $("#search_field").val().toLowerCase();
                $(".report").each(function () {
                    if (Contains($(this).find("h6, span").text().toLowerCase(), searchText))
                        $(this).show();
                    else
                        $(this).hide();
                });
            });

            //Some ui stuff
            $('#date_form').on('submit', function () {
                if ($('#date_text').val() != "") {
                    $('#daily_report').modal('toggle');
                    $('#download_start').toast('show');
                }
            });
            $('#cumulative_form').on('submit', function () {
                if ($('#fromDate_text').val() != "" && $('#toDate_text').val() != "") {
                    $('#cumulative_report').modal('toggle');
                }
            });

        });

        //Functions for checking start of a download
        function getCookie(name) {
            var parts = document.cookie.split(name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        function expireCookie(cName) {
            document.cookie =
                encodeURIComponent(cName) +
                "=deleted; expires=" +
                new Date(0).toUTCString();
        }


        function setFormToken() {
            var downloadToken = new Date().getTime();
            $('#downloadToken').val(downloadToken);
            return downloadToken;
        }

        var downloadTimer;
        var attempts = 30;

      // Prevents double-submits by waiting for a cookie from the server.
        function showLoading() {
            var downloadToken = setFormToken();
            $('#report_loading').modal('toggle');
            downloadTimer = window.setInterval(function () {
                var token = getCookie("downloadToken");
                if ((token == downloadToken) || (attempts == 0)) {
                    hideLoading();
                }
                attempts--;
            }, 1000);
        }

        function hideLoading() {
            $('#report_loading').modal('toggle');
            $('#download_start').toast('show');
            window.clearInterval(downloadTimer);
            expireCookie("downloadToken");
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
