@using coReport.Models.ReportViewModel
@model UserReportViewModel

@{
    ViewData["Title"] = "گزارشات";
}

<div class="row">
    <div class="col-md p-3 box-widget-scrollable" style="height:600px; max-height:600px">
        <span><b>گزارشات</b></span>
        <a asp-action="Create" asp-controller="Report" class="btn btn-primary btn-sm float-left">ایجاد گزارش</a>
        <input type="text" id="search_field" placeholder="جستجو" 
               class="input-group-sm ml-1 float-left searchbox border-dark rounded" style="padding:3px"/>
        <hr />
        @if (Model.Reports.Count() == 0)
        {
            <div class="text-lg-center"><b>گزارشی موجود نیست.</b></div>
        }
        else
        {

            @foreach (var report in Model.Reports)
            {
                <partial name="UserReportPartialView" model="report" />
            }
        }
    </div>
    <div class="col-md p-3 box-widget-scrollable" style="height:600px; max-height:600px">
        <h6><b>پیام ها</b></h6>
        <hr />
        @if (Model.Messages.Count() == 0)
        {
            <div class="text-lg-center"><b>پیامی موجود نیست.</b></div>
        }
        else
        {

            @foreach (var message in Model.Messages)
            {
                <partial name="_MessagePartialView" model="message" />
            }
        }
    </div>
</div>



@section scripts
{
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script>
        
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
            $('.seen-False').attr('style', 'border: 2px solid !important');
            $('[data-toggle="popover"]').click(function () {
                $(this).parent().parent().attr('style', 'border: 1px solid');
            });

            //Perform dynamic search on reports
            function Contains(fisrtText, secondText)
            {
                if (fisrtText.indexOf(secondText) != -1)
                    return true;
            }
            $("#search_field").keyup(function () {
                var searchText = $("#search_field").val().toLowerCase();
                $(".report").each(function ()
                {
                    if (Contains($(this).find("h6, span").text().toLowerCase(), searchText))
                        $(this).show();
                    else {
                        $(this).hide();
                    }
                });
            });
        });

        function NotDeletableAlert()
        {
            bootbox.alert({
                closeButton: false,
                title: "خطا",
                message: "به دلیل ثبت گزارش مدیر، امکان حذف وجود ندارد.",
                buttons: {
                    ok: {
                        label: 'بستن'
                    }
                }
            });
        }

        function DeleteReport(id) {
            bootbox.confirm({
                closeButton: false,
                message: "آیا می‌خواهید این گزارش را حذف کنید؟",
                buttons: {
                    confirm: {
                        label: 'بله',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'خیر',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result)
                        $.ajax({
                            url: "@Url.Action("Delete","Report")",
                            data: { id: id }
                        }).done(function(ajaxResult) {
                            if (ajaxResult)
                                location.reload();
                            else
                            {
                                bootbox.alert({
                                    closeButton: false,
                                    message: "هنگام حذف گزارش مشکلی پیش آمده لطفا مجددا سعی کنید.",
                                    buttons: {
                                        ok: {
                                            label: 'بستن'
                                        }
                                    }
                                });
                            }
                        });
                }
            });
        }

        function DeleteMessage(id) {
            bootbox.confirm({
                closeButton: false,
                message: "آیا می‌خواهید این پیام را حذف کنید؟",
                buttons: {
                    confirm: {
                        label: 'بله',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'خیر',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "@Url.Action("DeleteMessage","Message")",
                            data: { id: id }
                        }).done(function (ajaxResult) {
                            if (ajaxResult)
                                location.reload();
                            else {
                                bootbox.alert({
                                    closeButton: false,
                                    title: "خطا",
                                    message: "هنگام حذف پیام مشکلی پیش آمده لطفا مجددا سعی کنید.",
                                    buttons: {
                                        ok: {
                                            label: 'بستن'
                                        }
                                    }
                                });
                            }
                        });
                    }
                }
            });
        }

        function ViewMessage(id) {
            $.ajax({
                url: "@Url.Action("SetViewed","Message")",
                data: { id: id }
            }).done(function (ajaxResult) {
                if (!ajaxResult) {
                    bootbox.alert({
                        closeButton: false,
                        title: "خطا",
                        message: "هنگام مشاهده پیام مشکلی پیش آمده لطفا مجددا سعی کنید.",
                        buttons: {
                            ok: {
                                label: 'بستن'
                            }
                        }
                    });
                }
            });
        }

    </script>
}
