@using coReport.Models.ManageViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "پروفایل";
    ViewData["ViewName"] = "Index";
}

    <form asp-controller="Manage" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
          class="form-horizontal" enctype="multipart/form-data" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Username" hidden="hidden" class="form-control" />

        <div class="form-group">
            <div>
                @if (Model.ImageByte != null)
                {
                    <img class=" img rounded-circle" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageByte)" style="width: 100px;height:100px;">
                }
                else
                {
                    <img class=" img rounded-circle" src="~/Images/user.png" style="width: 100px;height:100px;">
                }
            </div>
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Image" class="form-control" />
                <span class="text-muted"><small>برای تغییر عکس، تصویر جدیدی را بارگذاری کنید.</small></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" class="btn btn-primary">ذخیره</button>
            </div>
        </div>
    </form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

