
@{
    ViewData["Title"] = "عدم دسترسی";
}

<div class="text-center">
    <i class="fa fa-lock fa-2x text-danger mb-2"></i>
    <h5 class="text-danger text-center">دسترسی شما به این صفحه ممکن نیست!</h5>
</div>